<%- include('../partials/header'); %>
<div class="bg-blue-700 py-5">
    <div class="container mx-auto">
        <h1 class="text-4xl text-center text-white">Welcome to EJS template engine</h1>
    </div>
</div>
<div class="content container mx-auto min-h-screen py-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio non temporibus, minima doloribus culpa doloremque inventore! Distinctio, sint facilis? Harum porro tempora qui! Nam mollitia placeat delectus nobis earum?
</div>
<%- include('../partials/footer'); %>